@font-face {
		font-family: Quicksand;
		src: url(font/Quicksand-Bold.ttf);
	}
	body {
		background: url('img/encoder_bg.jpg');
		background-repeat: no-repeat;
		background-position: center;
		background-attachment: fixed;
		background-size: cover;	
	}
	h3 {
		font-family: Quicksand;
		color: black;
		font-size: 20px;
	}
	textarea {
		font-family: Quicksand;
		color: white;
		background-color: #0a0f0f99;
		border-radius: 12px;
	}
	button {
		font-family: Quicksand;
		color: white;
		background-color: #00008b;
		border: none;
		border-radius: 12px;
		padding: 8px;
		text-align: center;
		text-decoration: none;
		display: inline-block;
		font-size: 15px;
		cursor: pointer;
	}
