@import url("https://fonts.googleapis.com/css2?family=Cabin:wght@400;700&display=swap");

body {
  font-family: "Cabin", sans-serif !important;
  height: 100vh;
  overflow: auto;
  background-color: #111111 !important;
}

p {
  font-size: 30px !important;
  margin: 0 !important;
}

.highlight {
  color: #00f0ff;
  font-weight: bold;
}

.navbar-background {
  background-color: #007bbf;
  color: white;
}

.light-blue-box {
  background-color: #2c9fc3;
  width: 25vw;
}

section {
  color: white;
  height: 100vh;
}

#introduction {
  height: 100vh;
}

.this-is {
  font-weight: 400;
  font-size: 80px;
}

.title {
  font-size: 100px;
}

.introduction-img {
  position: absolute;
  width: 450px;
  left: calc(25vw - 450px / 2);
}

@media only screen and (max-width: 1279px) {
  body {
    text-align: center !important;
    align-items: center !important;
  }
  section {
    height: max-content !important;
  }
  #introduction {
    display: flex !important;
    flex-direction: column !important;
    align-items: center !important;
    justify-content: center !important;
    height: max-content !important;
    padding-top: 20px !important;
    padding-bottom: 20px !important;
  }
  .introduction-img {
    position: static !important;
    width: 50% !important;
    margin: 0 auto !important;
  }
  .introduction-info {
    position: static !important;
    margin-bottom: 20px !important;
    width: 80% !important;
  }
}

@media only screen and (max-width: 720px) {
  .introduction-info p {
    font-size: 25px !important;
  }
  .this-is {
    font-size: 60px !important;
  }
  .title {
    font-size: 75px !important;
  }
  .introduction-img {
    width: 75% !important;
  }
}

@media only screen and (max-width: 420px) {
  #value-card {
    width: 40vw !important;
    margin: 5vh 5vw !important;
  }

  #value-card h2 {
    font-size: 20px !important;
  }
}

@media only screen and (max-width: 720px) {
  .connections-icon {
    margin: 4vh 2vw 0 2vw !important;
  }
}

.introduction-info {
  position: absolute;
  right: 5vw;
  width: 50vw;
}

.introduction-info p {
  font-size: 30px;
}

.section-title {
  font-size: 80px;
  font-weight: 700;
  text-shadow: 0 0 80px #858585;
  z-index: 1;
}

.aboutme-img {
  opacity: 0.2;
  width: calc(100% / 3);
  height: 100vh;
  object-fit: cover;
}

@media only screen and (max-width: 1279px) {
  .aboutme-img {
    position: static !important;
    width: 100% !important;
    height: max-content !important;
  }
  #aboutme {
    display: flex !important;
    flex-direction: column !important;
    align-items: center !important;
    justify-content: center !important;
    height: max-content !important;
    padding-top: 20px !important;
    padding-bottom: 20px !important;
    background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)),
      url("/images/components/aboutme-bg-1.jpg") no-repeat center/cover !important;
  }
  .aboutme-text {
    width: 80% !important;
    margin-bottom: 50px !important;
  }
  p {
    font-size: 25px !important;
  }
  .school-box-section {
    width: 100% !important;
    display: flex !important;
    flex-direction: column !important;
    align-items: center !important;
    justify-content: center !important;
  }
  .school-box {
    text-align: center !important;
    margin-bottom: 50px !important;
    max-width: none !important;
    width: 80vw !important;
    max-width: 500px !important;
    margin-left: auto !important;
    margin-right: auto !important;
  }
  #skills {
    display: flex;
    justify-content: center;
  }
}

@media only screen and (max-width: 500px) {
  .section-title {
    font-size: 55px !important;
  }
}

.aboutme-text {
  width: calc(80% / 3);
  text-align: center;
}

.school-box {
  border-radius: 12px;
  border: 3px solid #00f0ff;
  background: #003b48;
  box-shadow: 0px 0px 60px 1px rgba(0, 240, 255, 0.25);
  max-width: 40vw;
  padding: 15px;
}

.skills-box {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 100vh;
  position: absolute;
  right: 55vh;
}

@media only screen and (max-width: 1279px) {
  .skills-box {
    position: static !important;
    width: 100% !important;
    height: max-content !important;
  }
}

.background-component {
  height: 100vh;
  position: absolute;
  filter: blur(0.5px);
  pointer-events: none;
  z-index: 0;
}

.works-container {
  background: #00000075;
  width: 100%;
  padding: 12vh 0 12vh 0;
}

.works-title {
  font-size: 50px;
  font-weight: 700;
  color: #fff;
}

.works-slide {
  transition: transform 0.3s ease-in-out;
}

.slide-left {
  transform: translateX(-100%);
}

.slide-right {
  transform: translateX(100%);
}

.email {
  color: #000000;
}

.email:hover {
  color: #007bbf;
}

.anchor {
  text-decoration: none;
}

.tech-icon {
  padding: 3px;
  width: 40px !important;
  height: 40px !important;
}

.connections-icon {
  margin: 4vh 1vw 0 1vw;
  width: 40px !important;
  height: 40px !important;
}

.tech-icons-container {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  overflow: hidden;
}

#worksbox img {
  height: 300px;
  width: auto;
}

#value-card {
  margin: 5vh 7vw;
  width: 13vw;
  height: max-content;
  border-radius: 20px;
}

@media only screen and (max-width: 1279px) and (min-width: 420px) {
  #value-card {
    width: 40vw !important;
    margin: 5vh 5vw !important;
  }

  #value-card h2 {
    font-size: 25px !important;
  }
}

.red {
  border: 1px solid #f00;
  background: #210000;
  box-shadow: 0px 4px 100px 0px rgba(255, 0, 0, 0.25);
}

.green {
  border: 1px solid #00ff1a;
  background: #002109;
  box-shadow: 0px 4px 100px 0px rgba(36, 255, 0, 0.25);
}

.blue {
  border: 1px solid #00f0ff;
  background: #001f21;
  box-shadow: 0px 4px 100px 0px rgba(0, 240, 255, 0.25);
}

.yellow {
  border: 1px solid #fff500;
  background: #211e00;
  box-shadow: 0px 4px 100px 0px rgba(250, 255, 0, 0.25);
}

#footer {
  padding-left: 10px;
  padding-right: 10px;
}

#text-input {
  border-radius: 12px;
  border: 2px solid #00f0ff;
  background-color: transparent;
  outline: none;
  color: white;
  padding: 10px;
  font-size: 20px;
  margin: 3vh 0 0 0;
  width: 25vw;
  text-align: start;
  transition: border-color 0.2s ease-in-out;
}

@media only screen and (max-width: 1279px) {
  #text-input {
    width: 80vw !important;
    max-width: 500px !important;
  }
}

#text-input:focus {
  border: 2px solid #ffffff;
}

.non-message {
  height: 7vh;
}

.message {
  height: 20vh;
}

#submit-button {
  width: 4vw;
  min-width: 60px;
  padding: 5px;
  border-radius: 50px;
  background: #00f0ff;
  margin-top: 2vh;
  outline: none;
  border: none;
}

@media only screen and (min-width: 992px) {
  .navbar .nav-item .nav-link {
    padding: 5px 0;
    position: relative;
  }

  .navbar .nav-item .nav-link::before {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    right: 0;
    transition: all 0.3s ease;
    transform: scale(0);
  }
}

@media only screen and (max-width: 1440px) {
  #value-card {
    width: 16vw;
  }
  .this-is {
    font-size: 60px;
  }
  .title {
    font-size: 80px;
  }
  p {
    font-size: 25px !important;
  }
  .connections-icon {
    width: 30px !important;
    height: 30px !important;
  }
  .section-title {
    font-size: 70px;
  }
  .works-title {
    font-size: 40px;
  }
  .introduction-img {
    position: absolute;
    width: 400px;
    left: calc(25vw - 400px / 2);
  }
}

@media only screen and (max-width: 1600px) {
  #value-card h2 {
    font-size: 28px;
  }
}

@media only screen and (max-width: 1280px) {
  .section-title {
    font-size: 60px;
  }
}
