@import url("https://fonts.googleapis.com/css2?family=Cabin:wght@400;700&display=swap");

body {
  font-family: "Cabin", sans-serif !important;
  height: 100vh;
  overflow: auto;
}

.skills-box {
  position: absolute;
  right: 55vh;
}

p {
  font-size: 30px !important;
  margin: 0 !important;
}

.highlight {
  color: #00f0ff;
  font-weight: bold;
}

.navbar-background {
  background-color: #007bbf;
  color: white;
}

.light-blue-box {
  background-color: #2c9fc3;
  width: 25vw;
}

section {
  color: white;
  background-color: #111111;
  height: 100vh;
}

.this-is {
  font-weight: 400;
  font-size: 80px;
}

.title {
  font-size: 100px;
}

.introduction-img {
  position: absolute;
  left: calc(25vw - 450px / 2);
}

.introduction-info {
  position: absolute;
  right: 5vw;
  width: 50vw;
}

.introduction-info p {
  font-size: 30px;
}

.section-title {
  font-size: 80px;
  font-weight: 700;
  text-shadow: 0 0 80px #858585;
  z-index: 1;
}

.aboutme-img {
  opacity: 0.2;
  width: calc(100% / 3);
  height: 100vh;
  object-fit: cover;
}

.aboutme-text {
  width: calc(80% / 3);
  text-align: center;
}

.school-box {
  border-radius: 12px;
  border: 3px solid #00f0ff;
  background: #003b48;
  box-shadow: 0px 0px 60px 1px rgba(0, 240, 255, 0.25);
  max-width: 40vw;
  padding: 15px;
}

.background-component {
  height: 100vh;
  position: absolute;
  filter: blur(0.5px);
  pointer-events: none;
  z-index: 0;
}

.works-container {
  background: #00000075;
  width: 100%;
  padding: 20px;
}

.works-title {
  font-size: 50px;
  font-weight: 700;
  color: #fff;
}

.email {
  color: #000000;
}

.email:hover {
  color: #007bbf;
}

.anchor {
  text-decoration: none;
}

.tech-icon {
  padding: 3px;
  width: 40px !important;
  height: 40px !important;
}

.connections-icon {
  margin: 4vh 1vw 0 1vw;
  width: 40px !important;
  height: 40px !important;
}

.tech-icons-container {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  overflow: hidden;
}

#worksbox img {
  height: 300px;
  width: auto;
}

#value-card {
  width: 250px;
  height: 300px;
  margin: 5vh 7vw;
  max-width: 15vw;
  border-radius: 20px;
}

.red {
  border: 1px solid #f00;
  background: #210000;
  box-shadow: 0px 4px 100px 0px rgba(255, 0, 0, 0.25);
}

.green {
  border: 1px solid #00ff1a;
  background: #002109;
  box-shadow: 0px 4px 100px 0px rgba(36, 255, 0, 0.25);
}

.blue {
  border: 1px solid #00f0ff;
  background: #001f21;
  box-shadow: 0px 4px 100px 0px rgba(0, 240, 255, 0.25);
}

.yellow {
  border: 1px solid #fff500;
  background: #211e00;
  box-shadow: 0px 4px 100px 0px rgba(250, 255, 0, 0.25);
}

#footer {
  padding-left: 10px;
  padding-right: 10px;
}

#text-input {
  border-radius: 12px;
  border: 3px solid #00f0ff;
  background-color: transparent;
  outline: none;
  color: white;
  padding: 10px;
  font-size: 20px;
  margin: 3vh 0 0 0;
  width: 25vw;
  text-align: start;
}

.non-message {
  height: 7vh;
}

.message {
  height: 20vh;
}

#submit-button {
  width: 4vw;
  padding: 5px;
  border-radius: 50px;
  background: #00f0ff;
  margin-top: 2vh;
  outline: none;
  border: none;
}

@media only screen and (min-width: 992px) {
  .navbar .nav-item .nav-link {
    padding: 5px 0;
    position: relative;
  }

  .navbar .nav-item .nav-link::before {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    right: 0;
    transition: all 0.3s ease;
    transform: scale(0);
  }
}

@media only screen and (min-width: 1200px) and (min-height: 700px) {
  #introduction {
    height: 100vh;
  }
}

@media only screen and (max-width: 1200px) {
  #introduction {
    display: flex;
    flex-direction: column;
    padding-top: 5rem;
  }
  #works {
    display: flex;
    flex-direction: column;
    text-align: center;
  }
  #worksbox img {
    height: 250px;
    width: auto;
  }
  #contactme {
    display: flex;
    flex-direction: column;
    text-align: center;
  }
  #contactme div {
    margin-bottom: 10px;
  }
  #skills {
    display: flex;
    flex-direction: column;
    text-align: center;
  }
}

@media only screen and (max-width: 470px) {
  .section-title {
    font-size: 40px;
  }
  #worksbox img {
    height: 200px;
    width: auto;
  }
}

@media only screen and (max-width: 380px) {
  #worksbox img {
    height: 150px;
    width: auto;
  }
}
