#aboutme {
  @media screen and (max-width: 1279px) {
    display: flex !important;
    flex-direction: column !important;
    align-items: center !important;
    justify-content: center !important;
    height: max-content !important;
    padding-top: 20px !important;
    padding-bottom: 20px !important;
    background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)),
      url("/images/components/aboutme-bg-1.webp") no-repeat center/cover !important;
  }
}

.aboutme-img {
  opacity: 0.2;
  width: calc(100% / 3);
  height: 100vh;
  object-fit: cover;
}
